apiVersion: 1

datasources:
  - name: InfluxDB
    uid: influxdb-tempsensor
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    editable: false
    jsonData:
      version: Flux
      organization: INFLUXDB_ORG_PLACEHOLDER
      defaultBucket: INFLUXDB_BUCKET_PLACEHOLDER
      tlsSkipVerify: true
    secureJsonData:
      token: INFLUXDB_ADMIN_TOKEN_PLACEHOLDER
